<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/login/images/img-01.jpg');">
    <div class="wrap-login100 p-t-100 p-b-30">

        <div class="login100-form-avatar">
          <img src="assets/login/images/avatar.png" alt="AVATAR">
        </div>

        <div class="text-center w-full p-t-25 p-b-25">
            <span class="txt1 text-warning">
                {{ errormessage }}
            </span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
          <input class="input100" type="email" name="email" [(ngModel)]="user.email" placeholder="Email"/>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
          <input class="input100" type="password" name="password" [(ngModel)]="user.password" placeholder="Password"/>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
        </div>

        <div class="container-login100-form-btn p-t-10">
          <button name="login" class="login100-form-btn" (click)="getLogin()">
            Login
          </button>
        </div>

        <div class="text-center w-full p-t-25 p-b-50">
          <a href="#" class="txt1">
            Forgot Username / Password?
          </a>
        </div>

        <div class="text-center w-full">
          <a class="txt1" href="#">
            Create new account
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
    </div>
  </div>
</div>
